%h1= "#{country_link(@country)} / #{location_link(@country, @location)} / #{@town}"

#mapdiv(style="width:50%;height:50%")

= haml :strikes_table

%script{:type => "text/javascript", :src  => "#{town_url(@country, @location, @town)}.js"}
